.container {
    max-width: 960px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .lh-condensed { line-height: 1.25; }

  * {
    font-family: iranyekan;
  }
  
  
  .text-right * {
    text-align: right;
  }

  ul {
    width: 100% !important;
    padding: 0px;
  }

  a {
    color: #007bff !important;
  }

  a:hover {
    color: inherit !important;
    text-decoration: none;
  }

  .text-muted {
    font-size: .9em;
  }

  thead{
    font-size: .9em;
  }

  select {
    padding: 0px 8px !important;
  }

  .btn-success:hover,
  .btn-primary:hover {
    color: white !important;
  }

  .functions .btn {
    font-size: .8em;
    padding: 1px 5px;
  }


  .list-group-item 
  {
    height: 100%;
    padding: 20px;
  }